@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --body-font-size: 62.5%;
  --main-bg: linear-gradient(
    to right bottom, 
    #e8d44d, 
    #ffff99);
  --bdrs: 1rem;
  --shadow:
  -2.3px 2.6px 1.6px rgba(0, 0, 0, 0.032),
  -5.3px 6.1px 3.4px rgba(0, 0, 0, 0.057),
  -9.5px 11px 6.1px rgba(0, 0, 0, 0.077),
  -15.7px 18.3px 10.7px rgba(0, 0, 0, 0.093),
  25.9px 30.2px 20.2px rgba(0, 0, 0, 0.107),
  45.3px 52.7px 40.9px rgba(0, 0, 0, 0.118),
  98px 114px 73px rgba(0, 0, 0, 0.14);
  --black: rgb(43, 43, 43, .99);
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: var(--body-font-size);
  scroll-behavior: smooth;
}

body {
  height: auto;
  font-size: 1.6rem;
  background-image: var(--main-bg);
  background-attachment: fixed;
}

img.js_logo {
  position: fixed;
  width: 40%;
  height: auto;
  bottom: 10px;
  right: 10px;
  z-index: -1;
}

img.hello_world-img {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: var(--bdrs);
}

main.main {
  width: 90%;
  margin: 0 auto ;
  max-width: 102.4rem;
  padding: 8rem 2rem;
}

section.main-section header {
  margin: 3rem auto 6rem auto;
}

section.main-section {
  color: rgba(230,230,230, 1);
  background-color: rgba(19, 19, 19, .95);
  padding: 3.5rem 1.5rem;
  width: 100%;
  margin: 0 auto 7rem auto;
  border-radius: var(--bdrs);
  box-shadow: var(--shadow)
}

h1.main-section__heading {
  font-family: 'Roboto condensed', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  
}

h2.example {
  font-size: 1.8em;
  font-family: 'Roboto condensed', sans-serif;
}

p.paragraph {
  font-family: 'Fira sans', sans-serif ;
  margin: 2rem;
}

nav.navbar {
  font-family: 'Lato', sans-serif ;
}

ul:not(.navbar__list), 
ol {
  margin: 2rem auto 5rem auto;
}

li.item__ol-list,
li.list__item {
  margin: 1.5rem 0;
}

code {
  background-color: beige;
  color: #2b2b2b;
}

code.inline-code {
  padding: .3rem 1rem;
  border-radius: .3rem;
}

code.block-code {
  display: block;
  width: 100%;
  margin: 10rem auto;
  padding: 5rem 2rem;
  border-radius: .3rem;
}

section  a.section__link {
  color: greenyellow
}

a:visited {
  color: rgb(108, 174, 10)
}

.navbar {
  height: 100%;
  width: 20vw;
  background-color: var(--black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  padding: 2rem 1rem;
  position: fixed;
}

header.navbar__header {
  display: block;
  width: 100%;
}

h1.navbar__heading {
  color: #fffffa;
  font-family: 'Raleway' , sans-serif;
  width: 100%;
}

ul.navbar__list {
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
  overflow-y: scroll;
}

li.navbar__item {
  list-style: none;
  width: auto;
  height: auto;
}

a.navbar__link {
  display: block;
  color: #fffffa;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1rem 0;
  font-family: 'Raleway' , sans-serif;
  font-weight: 200;
}