:root {
  --body-font-size: 62.5%;
/* 

.My-Color-Theme-1-rgba { color: rgba(143, 143, 143, 1); }
.My-Color-Theme-2-rgba { color: rgba(79, 79, 79, 1); }
.My-Color-Theme-3-rgba - main-bg { color: rgba(207, 207, 207, 1); }
.My-Color-Theme-4-rgba { color: rgba(219, 219, 219, 1); }
.My-Color-Theme-5-rgba { color: rgba(181, 181, 181, 1); }
 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: var(--body-font-size)
}

body {
  height: 100%;
  font-size: 1.6rem;
  background-color: var(--main-bg);
}

